atproto == 0.0.57
coverage == 7.6.4
Flask == 3.0.3
imageio-ffmpeg == 0.6.0
loguru == 0.7.2
moviepy == 2.1.2
mypy == 1.11.2
mypy-extensions == 1.0.0
python-dateutil == 2.9.0.post0
python-dotenv == 1.0.1
pause == 0.3
pyclean == 3.0.0
pylint == 3.3.1
pymediainfo == 6.1.0
pytest == 8.3.3
pytz == 2024.2
requests == 2.32.3
tweepy == 4.14.0
types-python-dateutil == 2.9.0.20241003
types-pytz == 2024.2.0.20241003
types-requests == 2.32.0.20240914
types-urllib3 == 1.26.25.14
types-waitress == 3.0.0.20241001
urllib3 == 2.2.3
waitress == 3.0.0
Werkzeug == 3.0.4
youtube-dl == 2021.12.17
